<!DOCTYPE html>

<html>

<head>
    <title> About </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css"> 
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.JPG">
        <p> Hello, my name is Shaye and I am a aspiring Junior Software Engineer</p>
    </div>
   
    {{>footer}}
</body>

</html>